*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}

.page-container{
  position: relative;
  height: 100%;
}

.page-video-bg{
  height: 100%;
}

.page-video-bg video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.header-right{
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}
.page-mainer{
  width: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  /*旋转div元素*/
    margin-top: 50px;
    right: 150px;
}
.slogan{
  float: right;
    width: 450px;
    margin-bottom: 50px;
}
.btn-list{
  float: right;
    letter-spacing: -4px;
    font-size: 0;
}
.btn-primary{
  display: inline-block;
    background: #fff;
    border-radius: 5px;
    margin-left: 10px;
    width: 130px;
    height: 50px;
    transition: .15s opacity;
    transition-delay: .15s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 7px 2px rgba(0,0,0,.54);
}
.icon-QRcode{
  float: right;
    position: relative;
    width: 130px;
    height: 50px;
    background-image: url('../images/qr.png');
}
.icon-QRcode img{
  width: 233px;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.23);
    transform-origin: top right;
    opacity: 0;
    transition: .3s all;
}


.icon-ios{
  width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/appstore.png');
}
.icon-andorid{
  width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/android.png');
}
.page-footer{
  font-size: 14px;
    width: 100%;
    background: transparent; /*背景透明*/
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.footer-info{
  color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7); /*文字阴影*/
    margin-bottom: 16px;
}
.footer-info a{
  text-decoration: none;
  color: #fff;
}